/* custom stylesheet */
@import url('https://fonts.googleapis.com/css?family=Roboto:900');
@import url('https://fonts.googleapis.com/css?family=Lato:300|Alegreya|Londrina+Sketch');

html, body {
background-color: #faf4e7;
height: 100%;
width: 100%;
margin: 0;
padding: 0;
animation: fadein 1s;
-moz-animation: fadein 1s; /* Firefox */
-webkit-animation: fadein 1s; /* Safari and Chrome */
-o-animation: fadein 1s; /* Opera */
}

.text-center {
  text-align: center;
}
.animate-in {
    -webkit-animation: fadeIn 1s ease-in;
    animation: fadeIn 1s ease-in;
}
.animate-out {
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    opacity: 0;
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

ul {
  list-style: none;
}
#hero {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: relative;
}

#background-img {
  background: url('https://www.hopechannel.de/fileadmin/HopeChannel/files/tv/fotos/serien/schabbat-schalom/0173_0209_2017-10-13_fre-sonneweld_unsplash-com.jpg') no-repeat 50% 50%;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: fixed;
  filter: blur(3px);
  transform: scale(1.1);
}

#hero > #hero-text {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#hero > #hero-text > h1 {
  color: #FAF4E6;
  font-family: 'Alegreya', sans-serif;
  font-size: 150px;
  text-transform: uppercase;
}


     /* Custom Navigation */
.c-navigation {
  z-index: 99999999;
  width: 0;
  height: 0;
}

.c-navigation #links {
  list-style: none;
  padding: 50px 70px;
}

/* Custom Visible Class */
.c-navigation > #links.visible {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.c-navigation > #links:hover {
  color: #EDC385;

}

.c-navigation > #links > li {
  color: #FAF4E6;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  margin: -24px;
}

.c-navigation > #links.visible > li {
  color: #FAF4E6;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  margin: -24px;
}

.c-navigation #links.visible {
  list-style: none;
  padding: 50px 70px;
}

a {
  color: #faf4e7;
    text-decoration: none;
}
a:hover {
  color: #EDC385;
    text-decoration: none;
}
.YouTube:hover {
  color: #dc3545;
  text-decoration: none;
}
.name:hover {
  color: #C0D8DB;
  text-decoration: none;
}
