/* custom stylesheet */
@import url('https://fonts.googleapis.com/css?family=Roboto:900');
@import url('https://fonts.googleapis.com/css?family=Lato:300|Alegreya|Londrina+Sketch|Cinzel+Decorative|Josefin+Slab:000|Modak|Pompiere|The+Girl+Next+Door');

html, body {
background-color: #faf4e7;
height: 100%;
width: 100%;
margin: 0;
padding: 0;
animation: fadein 1s;
-moz-animation: fadein 1s; /* Firefox */
-webkit-animation: fadein 1s; /* Safari and Chrome */
-o-animation: fadein 1s; /* Opera */
}

}
.animate-in {
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;
}
.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


.photo {
  position: relative;
  top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; right: 230px;
  z-index: auto;
}
img {
  outline: 0.5rem solid #0c5460;
  border-radius: 5px;
  padding: -1rem;
  outline-offset: -1.1rem;
  filter: brightness(100%) saturate(80%) contrast(90%) drop-shadow(0px 2px 26px);
}
p {
font-family: 'Pompiere',cursive;
font-size: 20px;
color: #0c5460;
font-weight: bolder;
z-index: 99999;
position: relative;
display: table;
margin-left: auto;
margin-right: auto;
text-align: left;
width: 430px; /* whatever width you want */
left: 240px;
bottom: 113px;
}
.text-center {
text-align: center;

}

ul {
list-style: none;
}
#hero {
  background-color: black;
}

#background-img {
  background: url('http://static.wixstatic.com/media/6e29c720fcaf4564b76702f8d3238704.jpg_srz_1899_351_85_22_0.50_1.20_0.00_jpg_srz') no-repeat 50% 50%;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: fixed;
  filter: blur(9px);
  transform: scale(1.1);
  padding-bottom: 100px;

}
#hero > #hero-text {
height: 100%;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
z-index: auto;
}

#hero > #hero-text > h1 {
color: #eb823e;
font-family: 'Josefin Slab', serif;
font-size: 100px;
text-transform: uppercase;
position: fixed;
top: 40px;
}

/* Custom Navigation */
.c-navigation {
z-index: 99999999;
width: 0;
height: 0;
}

.c-navigation #links {
list-style: none;
padding: 50px 70px;
position: fixed;
top: 0px;
}

/* Custom Visible Class */
.c-navigation > #links.visible {
background: rgba(0, 0, 0, 0.7);
height: 100%;
width: 100%;
align-items: center;
justify-content: center;
text-align: center;
}

.c-navigation > #links:hover {
color: #EDC385;

}

.c-navigation > #links > li {
color: #FAF4E6;
text-transform: uppercase;
font-family: 'Roboto', sans-serif;
font-size: 40px;
margin: -24px;
}

.c-navigation > #links.visible > li {
color: #FAF4E6;
text-transform: uppercase;
font-family: 'Roboto', sans-serif;
font-size: 40px;
margin: -24px;
}

.c-navigation #links.visible {
list-style: none;
padding: 50px 70px;
}

a {
color: #0c5460;
text-decoration: none;
}
a:hover {
color: #6c757d;
text-decoration: none;
}
.YouTube:hover {
color: #dc3545;
text-decoration: none;
}
.YouTube {
color: #faf4e7;
text-decoration: none;
}
.name:hover {
color: #6c757d;
text-decoration: none;
}
.name {
color: #0c5460;
text-decoration: none;
}
