/* custom stylesheet */
@import url('https://fonts.googleapis.com/css?family=Roboto:900');
@import url('https://fonts.googleapis.com/css?family=Lato:300|Alegreya|Londrina+Sketch|Cinzel+Decorative|Josefin+Slab|Modak|Pompiere|The+Girl+Next+Door');

html, body {
height: 100%;
width: 100%;
margin: 0;
padding: 0;
}

.text-center {
text-align: center;
}

ul {
list-style: none;
}
#hero {
  background-color: black;
}

#background-img {
  background: url('http://static.wixstatic.com/media/6e29c720fcaf4564b76702f8d3238704.jpg_srz_1899_351_85_22_0.50_1.20_0.00_jpg_srz') no-repeat 50% 50%;
  background-size: cover;
  background-color: #FAF4E6;
  background-position: center;
  height: 100%;
  width: 100%;
  position: fixed;
  filter: blur(3px);
  transform: scale(1.1);

}
#hero > #hero-text {
height: 100%;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
z-index: auto;
}

#hero > #hero-text > h1 {
color: #eb823e;
font-family: 'The Girl Next Door', sans-serif;
font-size: 100px;
text-transform: uppercase;
position: fixed;
top: 40px;
}

/* Custom Navigation */
.c-navigation {
z-index: 99999999;
width: 0;
height: 0;
}

.c-navigation #links {
list-style: none;
padding: 50px 70px;
position: fixed;
top: 0px;
}

/* Custom Visible Class */
.c-navigation > #links.visible {
background: rgba(0, 0, 0, 0.7);
height: 100%;
width: 100%;
align-items: center;
justify-content: center;
text-align: center;
}

.c-navigation > #links:hover {
color: #EDC385;

}

.c-navigation > #links > li {
color: #FAF4E6;
text-transform: uppercase;
font-family: 'Roboto', sans-serif;
font-size: 40px;
margin: -24px;
}

.c-navigation > #links.visible > li {
color: #FAF4E6;
text-transform: uppercase;
font-family: 'Roboto', sans-serif;
font-size: 40px;
margin: -24px;
}

.c-navigation #links.visible {
list-style: none;
padding: 50px 70px;
}

a {
color: #0c5460;
text-decoration: none;
}
a:hover {
color: #6c757d;
text-decoration: none;
}
.YouTube:hover {
color: #dc3545;
text-decoration: none;
}
.YouTube {
color: #faf4e7;
text-decoration: none;
}
.name:hover {
color: #6c757d;
text-decoration: none;
}
.name {
color: #6c757d;
text-decoration: none;
}



/* Footer */

.navbar {
padding: 0rem 00rem;
flex-wrap: nowrap;
align-items: center;
justify-content: center;
position: absolute;
bottom: 0px;

}
.fa-twitter:before {
color: #48a0ff;
}

.fa-instagram:before {
display: inline-block;
width: 40px;
height: 40px;
text-align: center;
border-radius: 10px;
color: #fff;
font-size: 36px;
line-height: 40px;
vertical-align: top;
background: #d6249f;
background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.fa-youtube:before {
color: #dc3545;
}


.fab {
color: #FAF4E6;
}
.navbar-light .navbar-brand {
color: #FAF4E6;
}
.bg-light {
background-color: #f8f9fa00!important;
}





#close {
display: none;
}

#hamburger {
display: none;
}
/* Media Queries */

@media(max-width: 1266px) {
#hero > #hero-text > h1 {
font-size: 100px;
}
}
@media(max-width: 980px) {
#hero > #hero-text > h1 {
font-size: 75px;
}
}
@media(max-width: 767px) {

/* Mobile Nav */

#hamburger {
display: inherit;
}

#hamburger, #close {
color: #FAF4E6;
position: absolute;
top: 0;
right: 0;
padding: 20px 25px;
scale: 1
z-index: 9999999;
}
#close {
display: none;
}

.c-navigation #links {
display: none;
padding: 0;

}

#hero > #hero-text > h1 {
font-size: 55px;
}
}
@media(max-width: 546px) {
#hero > #hero-text > h1 {
font-size: 43px;
}
}
